body {
    font: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
}

/* Define properties for the header */
header {
    text-align: center; /* Center text in the header */
    margin-bottom: 20px; /* Add a bottom margin of 20px */
    width: 100%; /* Set header width to 100% */
}

/* Define properties for the main section */
main {
    text-align: left; /* Align text to the left in the main section */
}
#player-form {
    padding: 30px; /* Add padding around the form */
    margin: 60px auto; /* Set margin for top and bottom, center horizontally */
    width: 400px; /* Set a fixed width for the form */
    background-color: #fff; /* Set form background color */
    border: 1px solid #d2d2d2; /* Add a solid border */
}

.form-card {
    min-height: 250px; /* Set minimum height */
    text-align: left; /* Align text to the left */
}

/* Style the form-item class */
.form-item {
    padding: 10px; /* Add padding around the input fields */
    margin: 10px 0; /* Set margin: 10px top/bottom, 0px left/right */
    border: 1px solid #373434; /* Add a solid border with a dark color */
    display: block; /* Display input fields as block elements */
    width: 100%; /* Set input fields to 100% width */
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

/* Style the Begin button with id quiz-button */
.quiz-button {
    padding: 10px 25px; /* Set padding: 10px top/bottom, 25px left/right */
    font-weight: bold; /* Set font to bold */
    text-transform: uppercase; /* Make text uppercase */
    color: #fff; /* Set text color to white */
    border: none; /* Remove border around the button */
    background-color: #006aff; /* Set background color */
    cursor: pointer; /* Add a pointer cursor on hover */
}